openapi: 3.0.1
info:
  title: TAPCLICKS
  description: |-
  
    This is the 2.6.20 version of the API Specification for TapClicks.

    # AUTHENTICATION
    The **TapClicks** API uses the OAuth 2.0 protocol for authentication and authorization (<a href="https://tools.ietf.org/html/rfc6749#section-4.4">Client Credentials Grant</a>).<br>
    All requests must be authenticated and must include a valid access token.

  version: '2.6.20'
  termsOfService: 'https://www.tapclicks.com/terms-of-use/'
  contact:
    # name: 
    url: https://www.tapclicks.com/
    # email: 
  x-logo:
    # url: 'https://jobs.mindtheproduct.com/wp-content/uploads/company_logos/2018/04/tapclicks_logo_png-250x93.png'
    url: 'https://www.tapclicks.com/static-templates/img/tapclicks-logo-color.png'
    backgroundColor: "#283237"

  
servers:
  - url: 'https://api.tapclicks.com/v2'
  
tags:
  - name: POSSIBLE RESPONSES
    description: |
        **Possible Response Codes:**
        ```
        > 200 - OK: The request was successful and the response body contains 
                    the representation requested
        > 302 - FOUND: A common redirect response; you can GET the representation 
                    at the URL in the Location response header
        > 304 - NOT MODIFIED: Your client's cached version of the representation 
                    is still up to date
        > 400 - BAD REQUEST: The request could not be understood by the server 
                    due to malformed syntax                    
        > 401 - UNAUTHORIZED: The supplied credentials, if any, are not sufficient 
                    to access the resource
        > 404 - NOT FOUND: The server has not found anything matching the 
                    Request-URI
        > 429 - TOO MANY REQUESTS: Your application is sending too many 
                    simultaneous requests
        > 500 - SERVER ERROR: We couldn't return the representation due to 
                    an internal server error
        > 503 - SERVICE UNAVAILABLE: We are temporarily unable to return 
                    the representation. Please wait for a bit and try again.
        
        ```
        
  - name: PAGINATION
    description: | 
      Pagination can be implemented with the query parameter `page`, which accepts two parameters.<br>
      The first parameter represents which page is returned (starting from index = 0).<br>
      The second parameter represents how many records each page contains and, therefore, the number of records that will be returned.
      
      **Examples&#58;**
      
      |URL                                                | Records returned|
      |---------------------------------------------------|-----------------|
      |https://api.tapclicks.com/v2/34/data/cgn?page=0,5  | returns the 5 records of page index 0 (records 1 -> 5) |
      |https://api.tapclicks.com/v2/34/data/cgn?page=1,5  | returns the 5 records of page index 1 (records 6 -> 10) |
      |https://api.tapclicks.com/v2/34/data/cgn?page=1,8  | returns the 8 records of page index 1 (records 9 -> 16) |
      |https://api.tapclicks.com/v2/34/data/cgn?page=2,6  | returns the 6 records of page index 2 (records 13 -> 18) |



  - name: VERSIONING
    description: |
      |TapClicks API version | Date               | Link to the API documentation   | Changes
      |----------------------|--------------------|---------------------------------|-------------
      | 2.5.23.1             | 20th April 2017    | link here                       | Description or link to external documentation 
      | 2.5.31.1             | 9th January 2018   | link here                       | Description or link to external documentation 
      | 2.6.20 (current)     | 22nd February 2019 | link here (current page)        | Description or link to external documentation 


      
        
  - name: TAPCLICKS API
    description: Welcome to Tap API.
  - name: BUSINESS UNITS
    description: Business Units are much like Client Groups except that a Business Units is managed by a Business Units Admin who has access similar to that of a Super Admin. These are often used if a company has multiple locations under which clients exist (e.g. franchises). As a Business Unit Admin you can manage a single Business Unit or a Group of Business Units.
  - name: CHANNELS
    description: A way to bring in metrics from multiple data sources and show the performance of your campaign across these data sources.
  - name: CLIENTS
    description: Clients in the instance.
  - name: CLIENT'S CATEGORIES
    description: Refers to the categories that can be assigned to a Client (example&#58; Services, Automotive, Retailer, Restaurant...).
  - name: CLIENT GROUPS
    description: Client Groups allow you to group Clients together. This way you can grant an agent access to all of their reports. These groups can be used with Clients who have multiple locations that require individual reporting, but also require one person to have complete data access. You can also create Groups of ClientGroups if the need is there.
  - name: DATA PROFILES
    description: Data Profiles help you control the types of campaigns, data and metric you want each User to have access to.
  - name: DATA TYPES
    description: All data types available for any field.
  - name: DATE RANGE
    description: Date ranges allow you to focus on the data set you are concerned about or want to run a report for.
  - name: LANGUAGES
    description: Supported languages.
  - name: LEADS
    description: Only if the Leads Management module is active.
  - name: ROLES
    description: Roles are used to control the access of Agents and Business Unit Admins. If the TapOrders module is active, IOTool roles can be assigned to “Super Admin”, “Agent” and “Business Unit Admin” type of user as well.
  - name: SERVICES (DATA SOURCES)
    description: Services are the Data Sources that a client can connect to pull data into TapClicks; these also include all the resources that are created with the Smart Connector.
  - name: USERS
    description: Users in the instance.
  - name: EXAMPLES
    description: |
      | Replace the the {id} in the URL with a service_id from the list of all <a href="#tag/SERVICES-(DATA-SOURCES)/paths/~1services{~1service_id}/get">Services (Data Sources)</a> |  
      | --------------------------------------------------------------------------------------|   
      | **1. Get API version**                                                                | 
      | https://api.tapclicks.com/v2/                                                         | 
      | **2. Get metadata for the service**                                                   |
      | https://api.tapclicks.com/v2/services/{id}/data/cgn?metadata=1                        | 
      | **3. Get services level data**                                                        | 
      | https://api.tapclicks.com/v2/services/{id}                                            | 
      | **4. Get campaign level data**                                                        | 
      | https://api.tapclicks.com/v2/services/{id}/data/cgn                                   | 
      | **5. Get campaign level data paginated**                                              | 
      | https://api.tapclicks.com/v2/services/{id}/data/cgn?page=0,10                         | 
      | **6. Get campaign level data paginated and grouped yearly**                           | 
      | https://api.tapclicks.com/v2/services/{id}/data/cgn?page=0,10&timegrouping=yearly     | 
      | **7. Get certain metrics only**                                                       | 
      | https://api.tapclicks.com/v2/services/{id}/data/cgn?page=0,10&groupby=customer_id&fields=customer_id,CTR,AverageCPC,ClickCount&sort=customer_id                                 | 
      
      
  
paths:
  /:
    get:
      tags:
        - TAPCLICKS API
      summary: Welcome Message
      description: This call will simply return a "Welcome to TAP API" message
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    description: Data
                  error:
                    type: boolean
                    description: Error
                  warning:
                    type: array
                    description: Warnings
                    items:
                      type: string
                  status:
                    type: integer
                    description: Status
                example:
                  data: "Welcome to TAP API"
                  error: false
                  warning: []
                  status: 200
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
# --------------------- Business Units --------------------------

  /clusters{/cluster_id}:
    get:
      tags:
        - BUSINESS UNITS
      summary: Business Units
      description: Clusters are Business Units. This returns a specific Business Unit (*cluster_id*).
      
      
        **Note&#58;** if the path parameter *cluster_id* is omitted, this will return all the Business Units in the instance (in the response, the *data* field will be an array of cluster objects).
      parameters:
        - in: path
          name: /cluster_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Business Unit to get. If omitted, it will return all Business Units.
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/clusters/22?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/clusters?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/clusters?fields=id,name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/clusters?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/clusters?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            
            
            Example&#58; `"https://api.tapclicks.com/v2/clusters?id=!12"`<br>
            This will return all clusters, except for the one with id = 12
          example: https://api.tapclicks.com/v2/clusters?id=10,11,12

      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_clusters'
              example:
                data:
                  id: "1"
                  name: "West Coast Unit"
                  has_light_logo: false
                  has_dark_logo: false
                  external_cluster_id: ""
                  enable_inventory_calendar: true
                  is_cluster_group: false
                  status: "active"
                  type: "group"
                  member_cluster_ids: ["2","4","6"]
                  status_display: "Active"
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'    
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
    post:
      tags:
        - BUSINESS UNITS
      summary: Edit an existing Business Unit
      description: Clusters are Business Units. This edits an existing Business Unit.
      parameters:
        - in: path
          name: /cluster_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Business Unit to edit.     
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/createCluster"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"
                  {
                    "type": "group",
                    "name": "East Coast Unit",
                    "member_cluster_ids": "6,23"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--         
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400' 
              example:
                error: true
                data: 
                  - Business Unit type missing
                  - Business Unit name missing
                warnings: []
                status: 400
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'    
    delete:
      tags:
        - BUSINESS UNITS
      summary: Delete a Business Unit
      description: Clusters are Business Units. This deletes a new Business Unit.
      parameters:
        - in: path
          name: /cluster_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Business Unit to delete.  
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
              example:
                error: true
                data: 
                  -  cannot be deleted
                warnings: []
                status: 401              
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'          
                
  /clusters:
    post:
      tags:
        - BUSINESS UNITS
      summary: Create a Business Unit
      description: Clusters are Business Units. This creates a new Business Unit.
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/createCluster"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"
                  {
                    "type": "single",
                    "name": "West Coast Unit"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--  
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400' 
              example:
                error: true
                data: 
                  - The Business Unit type cannot be changed
                warnings: []
                status: 400              
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'            
                
                
# --------------------- Channels (Categories) --------------------------                
      
  /categories{/category_id}:
    get:
      tags:
        - CHANNELS
      summary: Channels
      description: Categories are Channels. This returns a specific category (*category_id*).
      
      
        **Note&#58;** if the path parameter *category_id* is omitted, this will return all the channels in the instance (in the response, the *data* field will be an array of category objects).
      parameters:
        - in: path
          name: /category_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Channel to get. If omitted, it will return all Channels.
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/categories?metadata=1
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/categories?fields=id,name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/categories?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/categories?count=1

      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/response_200_categories'
              example:
                data:
                  id: "49"
                  name: "Custom Channel"
                  service_ids:
                    39: 
                      icon: "facebookads"
                      name: "Facebook Ads"
                      color: "#234589"
                      is_connected: true
                    100002:
                      icon: "custom-icon"
                      name: "Manually Uploaded"
                      color: "#234511"
                      is_connected: true
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'

# --------------------- Clients --------------------------                  

  /clients{/client_id}:
    get:
      tags:
        - CLIENTS
      summary: Clients
      description: This returns a specific Client (*client_id*).
      
      
        **Note&#58;** if the path parameter *client_id* is omitted, this will return all the Clients in the instance (in the response, the *data* field will be an array of client objects).
      parameters:
        - in: path
          name: /client_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Client to get. Please refer to <a href="#tag/CLIENTS">Clients</a> to obtain the correct Id
          
          
            If omitted, it will return all Clients
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/clients?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/clients?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/clients?fields=id,company_name,last_name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by company name.
          example: https://api.tapclicks.com/v2/clients?sort=company_name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/clients?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: | 
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            

            Example&#58; `"https://api.tapclicks.com/v2/clients?id=!12"`<br>
            This will return all Clients, except for the one with id = 12
          example: https://api.tapclicks.com/v2/clients?company_name=JL%20Marketing

      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_clients'
              example:
                data:
                  id: "1"
                  company_name: "JP Marketing"
                  first_name: "Jack"
                  last_name: "Smith"
                  email: "jsmith@JPmarketing.com"
                  address_1: "Rue Washington 66"
                  address_2: ""
                  city: "Minneapolis"
                  state: "Minnesota"
                  zip: "54201"
                  country: ""
                  phone: ""
                  fax: ""
                  website: "jpmark.com"
                  account_manager_user_id: null
                  has_light_logo: false
                  has_dark_logo: false
                  crm_id: ""
                  billing_id: ""
                  additional_details_1: ""
                  additional_details_2: ""
                  additional_details_3: ""
                  enable_lead_management_module: false
                  created_by_user_id: "1"
                  created_by_user: "jsmith@JPmarketing.com"
                  report_language: ""
                  source_service_id: null
                  creation_time: 1540478543
                  last_modification_time: 1540478543
                  cluster_id: null
                  default_reporting_profile_id: "1"
                  client_category_id: null
                  reporting_status: "active"
                  iotool_status: "presale"
                  has_hipaa_data: false
                  formatted_creation_time: "Oct 25, 2018 1:15 PM"
                  formatted_last_modification_time: "Oct 25, 2018 1:15 PM"
                  client_group_ids: []
                  activate_tapleads: false
                  reporting_status_display: "active"
                  iotool_status_display: "presale"
                error: false
                warnings: []
                status: 200    
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
    post:
      tags:
        - CLIENTS
      summary: Edit existing Client
      description: This modifies the information of an existing Client.
      
        
        Note that the payload of this POST is the same as <a href="#tag/CLIENTS/paths/~1clients/post">Create a new Client</a>.
      parameters:
        - in: path
          name: /client_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Client to get. Please refer to <a href="#tag/CLIENTS">Clients</a> to obtain the correct Id
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/createClient"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"

                  {
                  "company_name": "JP Marketing",
                  "default_reporting_profile_id": "1",
                  "reporting_status": "pending_mapping",
                  "iotool_status": "presale"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
              example:
                error: true
                data: 
                  - Company name missing
                  - Default data profile missing
                  - Reporting Status missing or invalid
                  - TapOrders status missing or invalid
                warnings: []
                status: 400 
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
  /clients:
    post:
      tags:
        - CLIENTS
      summary: Create a new Client
      description: This creates a new Client.
      
      
        Note that the payload of this POST is the same as <a href="#tag/CLIENTS/paths/~1clients{~1client_id}/post">Edit existing Client</a>.
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/createClient"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"

                  {
                  "company_name": "JP Marketing",
                  "default_reporting_profile_id": "1",
                  "reporting_status": "pending_mapping",
                  "iotool_status": "presale"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
              example:
                error: true
                data: 
                  - That company name is already in use by another Client
                warnings: []
                status: 400 
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'   
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
             
# --------------------- Client's Categories --------------------------  
  
  /clientcategories:
    get:
      tags:
        - CLIENT'S CATEGORIES
      summary: All Client's categories
      description: This returns a list of all possible categories that can be assigned to a client.
      
      
        For example&#58; Services, Automotive, Retailer, Restaurant...
      parameters:
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/clientcategories?metadata=1
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/clientcategories?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/clientcategories?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: | 
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            
          
            Example&#58; `"https://api.tapclicks.com/v2/clientcategories?id=!12"`<br>
            This will return all Client categories, except for the one with id = 12
          example: https://api.tapclicks.com/v2/clientcategories?name=Automotive       
       
      responses: 
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_clientcategories'
              example:
                data:
                  - id: "1"
                    name: "General"
                  - id: "2"
                    name: "Wholesale"
                  - id: "3"
                    name: "Retailer"
                  - id: "4"
                    name: "Restaurants"
                  - id: "5"
                    name: "Auto Dealerships"
                  - id: "6"
                    name: "Arts & Entertainment"
                  - id: "7"
                    name: "Automotive"
                  - id: "8"
                    name: "Beauty & Fitness" 
                  - id: "9"
                    name: "Community, Clubs & Organizations"
                  - id: "10"
                    name: "Computers & Electronics"
                  - id: "11"
                    name: "Education"
                  - id: "12"
                    name: "Food & Dining"
                  - id: "13"
                    name: "Health Care"
                  - id: "14"
                    name: "Home & Garden"
                  - id: "15"
                    name: "Real Estate & Rentals"
                  - id: "16"
                    name: "Recreation & Sporting Goods"
                  - id: "17"
                    name: "Travel & Accomodations"
                  - id: "18"
                    name: "Services"
                  - id: "20"
                    name: "Home Applicances"
                  - id: "21"
                    name: "Agricultural"
                error: false
                warnings: []
                status: 200   
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'   
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'

# --------------------- Client Groups --------------------------        
                  
  /clientgroups{/clientgroup_id}:
    get:
      tags:
        - CLIENT GROUPS
      summary: Client Groups
      description: This returns a specific Group of Clients (*clientgroup_id*).
      
      
        **Note&#58;** if the path parameter *clientgroup_id* is omitted, this will return all the Groups of Clients in the instance (in the response, the *data* field will be an array of clientGroup objects).
      parameters:
        - in: path
          name: /clientgroup_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Group of Client to get. If omitted, it will return all Groups of Clients
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/clientgroups/1?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/clientgroups?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/clientgroups?fields=id,name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/clientgroups?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/clientgroups?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
           
            
            Example&#58; `"https://api.tapclicks.com/v2/clientgroups?id=!12"`<br>
            This will return all Client Groups, except for the one with id = 12
          example: https://api.tapclicks.com/v2/clientgroups?id=10,15,16
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_clientgroups'
              example:
                data:
                  id: "1"
                  name: "Test Unit"
                  cluster_id: null
                  group_type: "group_of_clients"
                  has_light_logo: false
                  has_dark_logo: false
                  created_at: 1540404023
                  updated_at: 1540404023
                  report_language: "en_US"
                  formatted_created_at: "Oct 24, 2018 6:00 PM"
                  formatted_updated_at: "Oct 24, 2018 6:00 PM"
                  client_ids: ["1","3"]
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
    post:
      tags:
        - CLIENT GROUPS
      summary: Edit an existing Client Group
      description: This edits an existing Client Group
      parameters:
        - in: path
          name: /clientgroup_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Group of Client to edit.
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema: 
              $ref: "#/components/schemas/createClientGroup"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"
                  {
                    "name":"Boston",
                    "group_type":"group_of_clients",
                    "cluster_id":"1",
                    "client_ids":"1,2,34"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--         
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400' 
              example:
                error: true
                data: 
                  - Client Group type missing
                  - Client Group name missing
                warnings: []
                status: 400
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'       
                
    delete:
      tags:
        - CLIENT GROUPS
      summary: Delete a Client Group
      description: This deletes a Client Group
      parameters:
        - in: path
          name: /clientgroup_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Group of Client to delete.
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
              example:
                error: true
                data: 
                  -  cannot be deleted
                warnings: []
                status: 401                 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404' 
          
  /clientgroups:
    post:
      tags:
        - CLIENT GROUPS
      summary: Create a Client Group
      description: This creates a new Client Group
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/createClientGroup"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"
                  {
                    "name":"Boston",
                    "group_type":"group_of_client_groups",
                    "cluster_id":"1",
                    "client_group_ids":"77,81,10"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--  
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400' 
              example:
                error: true
                data: 
                  - That Client Group name is already in use.
                warnings: []
                status: 400
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'        
        
# --------------------- Data Profiles -------------------------- 

  /reportingprofiles{/profile_id}:
    get:
      tags:
        - DATA PROFILES
      summary: Data Profiles
      description: Reporting Profiles are Data Profiles. This returns a specific Data Profile (*profile_id*).
      
      
        **Note&#58;** if the path parameter *profile_id* is omitted, this will return all the Data Profiles in the instance (in the response, the *data* field will be an array of dataProfile objects).
      parameters:
        - in: path
          name: /profile_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the Data Profile to get. If omitted, it will return all Data Profiles  
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/reportingprofiles?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/reportingprofiles?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/reportingprofiles?fields=id,name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/reportingprofiles?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/reportingprofiles?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
          
            
            Example&#58; `"https://api.tapclicks.com/v2/reportingprofiles?id=!12"`<br>
            This will return all data profiles, except for the one with id = 12
          example: https://api.tapclicks.com/v2/reportingprofiles?name=Default%20Profile,Internal-Employee
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/response_200_dataprofiles'
              example:
                data:
                  id: "1"
                  name: "Default Profile"
                  created_at: 1378100067
                  updated_at: 1435939300
                  enable_new_services_by_default: true
                  enable_scores: false
                  adwords_split_active: false
                  hide_adwords_network: false
                  cluster_id: null
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
# --------------------- Data Types --------------------------                 
  
  /columns/datatypes:
    get:
      tags:
        - DATA TYPES
      summary: All data types
      description: This returns all the data types that are available for any field.
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_datatypes'
              example:
                data:
                  - key: "integer"
                    value: "Number"
                    icon: "#"
                    is_selectable: true
                    is_numeric: true
                    precision: 0
                  - key: "decimal"
                    value: "Decimal"
                    icon: ".00"
                    is_selectable: true
                    is_numeric: true
                    precision: 2
                  - key: "percent"
                    value: "Percent"
                    icon: "%"
                    is_selectable: true
                    is_numeric: true
                    precision: 2
                  - key: "currency"
                    value: "Currency"
                    icon: "$"
                    is_selectable: true
                    is_numeric: true
                    precision: 2
                  - key: "string"
                    value: "Text"
                    icon: "T"
                    is_selectable: true
                    is_numeric: false
                    precision: 0
                  - key: "phonenumber"
                    value: "Phone Number"
                    icon: "icon-phone"
                    is_selectable: true
                    is_numeric: false
                    precision: 0
                  - key: "callback"
                    value: "Text"
                    icon: "T"
                    is_selectable: false
                    is_numeric: false
                    precision: 0
                  - key: "date"
                    value: "Date"
                    icon: "icon-calendar"
                    is_selectable: true
                    is_numeric: false
                    precision: 0
                  - key: "time"
                    value: "Time"
                    icon: "icon-clock-o"
                    is_selectable: true
                    is_numeric: true
                    precision: 0
                  - key: "link"
                    value: "Link"
                    icon: "icon-link"
                    is_selectable: true
                    is_numeric: false
                    precision: 0
                  - key: "url"
                    value: "URL"
                    icon: "icon-link"
                    is_selectable: true
                    is_numeric: false
                    precision: 0
                  - key: "image"
                    value: "Image"
                    icon: "icon-image"
                    is_selectable: true
                    is_numeric: false
                    precision: 0
                  - key: "datetime"
                    value: "Date"
                    icon: "icon-calendar"
                    is_selectable: false
                    is_numeric: false
                    precision: 0
                  - key: "id"
                    value: "Id"
                    icon: "ID"
                    is_selectable: false
                    is_numeric: false
                    precision: 0
                  - key: "bool"
                    value: "Boolean"
                    icon: "icon-check"
                    is_selectable: false
                    is_numeric: false
                    precision: 0
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'  
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
# --------------------- Date Range --------------------------                  
  /daterange:
    get:
      tags:
        - DATE RANGE
      summary: Date range
      description: This returns the current set date range.
      responses: 
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_daterange'
              example:
                data:
                  start: 1541894432
                  end: 1541894431
                  relative_date_range: null
                  comparison_start: 1541894432
                  comparison_end: 1541894431
                  comparison_active: null
                  comparison_period: null
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
# --------------------- Languages --------------------------                 
  /languages:
    get:
      tags:
        - LANGUAGES
      summary: All supported languages
      description: This returns a list of all supported languages.
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/response_200_languages'
              example:
                data: 
                  - locale: "en_US"
                    name: "English"
                  - locale: "fr_CA"
                    name: "French"
                  - locale: "hi_IN"
                    name: "Hindi"
                  - locale: "id_ID"
                    name: "Indonesian"
                  - locale: "es_ES"
                    name: "Spanish"
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
# --------------------- Leads --------------------------    
  /leads{/lead_id}:
    get:
      tags:
        - LEADS
      summary: Leads
      description: This returns a specific lead (*lead_id*). 
        
        
        **Note&#58;** if the path parameter *lead_id* is omitted, this will return a list of all the leads in the instance (in the response, the *data* field will be an array of lead objects).
      parameters:
        - in: path
          name: /lead_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the lead to get. If omitted, it will return all leads 
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/leads/13?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/leads?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/leads?fields=id,client_id,campaign_id
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/leads?sort=service_name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/leads?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            
            
            Example&#58; `"https://api.tapclicks.com/v2/leads?id=!12"`<br>
            This will return all leads, except for the one with id = 12
          example: https://api.tapclicks.com/v2/leads?id=10,11,12
        - in: query
          name: groupby
          required: false
          schema:
            type: string
          description: The results will be grouped based on the provided field
          example: https://api.tapclicks.com/v2/leads?groupby=client_id
        - in: query
          name: timegrouping
          required: false
          schema:
            type: string
          description: The results will be grouped and narrowed within the specified timegroup
          example: https://api.tapclicks.com/v2/leads?timegrouping=yearly
        - in: query
          name: aggregate
          required: false
          schema:
            type: boolean
          description: The results will be the aggregated value of each field
          example: https://api.tapclicks.com/v2/leads?id=27&aggregate=true
        - in: query
          name: row_grouping_count
          required: false
          schema:
            type: string
          description: Passing **row_grouping_count** along with the list of **fields** will provide grouped result and row count on each group (**groupby**)
            
          example: https://api.tapclicks.com/v2/leads?groupby=campaign_id&fields=row_grouping_count
        - in: query
          name: nested
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: Fetch grouped data that nested based on the groupby expression
          example: https://api.tapclicks.com/v2/leads?groupby=campaign_name&nested=1
        - in: query
          name: daterange
          required: false
          schema:
            type: string
          description: The example will return the leads with a timestamp for the month of December.
            
            
            This filters the result between the given date range (YYYY-MM-DD).
          example: https://api.tapclicks.com/v2/leads?&daterange=2018-12-01|2018-12-31
        
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_leads'
              example:
                data:
                  id: null
                  lead_id: "329312"
                  client_id: 409
                  campaign_id: "51"
                  campaign_name: "Destination Carins Marketing"
                  customer_number: "5555550229"
                  customer_email: null
                  call_status: null
                  tracking_source: "611555782855"
                  caller_name: null
                  comments: null
                  call_was_recorded: "<audio preload='none' controls><source src='portal.avanser.com/audio/555/65570421/in/rec.6900-2018-08-29-1033-115.wav' type='audio/wav'></audio>"
                  duration: null
                  timestamp: 1545608100
                  third_party_id: "50114777"
                  note_count: null
                  is_overriden: false
                  type: "call"
                  service_lead_id: "91555"
                  service_id: "69"
                  service_name: "Call Tracking"
                  end_customer_id: null
                  visibility: "Visible"
                  quality: null
                  status: null
                  first_name: null
                  last_name: null
                  address_1: null
                  address_2: null
                  city: null
                  state: "NSW"
                  zip: null
                  deal_amount: null
                  source_name: null
                  source_type: null
                  client_name: "Destination Mark"
                  client_reporting_status: "active"
                  client_billing_id: ""
                  client_additional_details_1: ""
                  client_additional_details_2: ""
                  client_additional_details_3: ""
                  client_crm_id: ""
                  customer_name: null
                  client_name_value: null
                  client_name_value_id: null
                  client_name_tag: "No Tag"
                  client_name_color: null
                  client_name_tag_id: null
                  customer_number_value: null
                  customer_number_value_id: null
                  customer_number_tag: "No Tag"
                  customer_number_color: null
                  customer_number_tag_id: null
                  customer_email_value: null
                  customer_email_value_id: null
                  customer_email_tag: "No Tag"
                  customer_email_color: null
                  customer_email_tag_id: null
                  tracking_source_value: null
                  tracking_source_value_id: null
                  tracking_source_tag: "No Tag"
                  tracking_source_color: null
                  tracking_source_tag_id: null
                  row_grouping_count: "1"
                  formatted_customer_number: "555-555-0229"
                  formatted_timestamp: "Jan 11, 2017 12:00 AM"
                  has_history: false
                  visibility_display: "Visible"
                  tags: [ ]
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'  
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error_403"
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
# --------------------- Role --------------------------  
  /roles{/role_id}:
    get:
      tags:
        - ROLES
      summary: User roles
      description: This returns a specific role (*role_id*) that can be assigned to a user.
      
      
        **Note&#58;** if the path parameter *role_id* is omitted, this will return a list of all the roles in the instance (in the response, the *data* field will be an array of role objects).
      parameters:
        - in: path
          name: /role_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the role to get. If omitted, it will return all roles  
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/roles?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/roles?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/roles?fields=id,name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/roles?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/roles?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            
            
            Example&#58; `"https://api.tapclicks.com/v2/roles?id=!12"`<br>
            This will return all roles, except for the one with id = 12
          example: https://api.tapclicks.com/v2/roles?name=Sales,Vendor
        
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/response_200_roles'
              example:
                data:
                  id: "2"
                  name: "Sales"
                  role_type: "io_tool"
                  cluster_id: null
                  reporting_template_ids: ["1"]
                  manage_dashboard: false
                  can_manage_alerts: false
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'

      
# --------------------- Services (Data Sources) --------------------------        

  /services{/service_id}:
    get:
      tags:
        - SERVICES (DATA SOURCES)
      summary: Services
      description: 
        This returns a specific service (*service_id*) in the instance. This can be helpful to find out if such is connected or not.
        
        
        **Note&#58;** if the path parameter *service_id* is omitted, this will return a list of all the services available in the instance, whether they're connected or not (in the response, the *data* field will be an array of service objects).
      parameters:
        - in: path
          name: /service_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the service to get. If omitted, it will return all services 
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/services/108?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/services?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/services?fields=id,name
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by name.
          example: https://api.tapclicks.com/v2/services?sort=name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/services?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            
            
            Example&#58; `"https://api.tapclicks.com/v2/services?id=!12"`<br>
            This will return all services, except for the one with id = 12
          example: https://api.tapclicks.com/v2/services?id=10,11,12
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/response_200_services'
              example:
                data:
                  service_id: "44"
                  name: "Facebook Insights"
                  original_name: "Facebook Insights"
                  datamodel: "info/shoutletfbcgn"
                  parsemodel: "fetcher/vendor_facebook_insights_parser"
                  api: "1"
                  use_id: "0"
                  use_oauth: "1"
                  label: ""
                  model: "facebook"
                  avg: "0"
                  trend: "0"
                  sort_order: "0"
                  active: true
                  active_in_development: true
                  active_in_production: true
                  has_margin: false
                  color: "#4183c4"
                  custom_color: null
                  custom_icon: null
                  child_of_service_id: null
                  preferred: "0"
                  is_connected: true
                  service_icon: "facebook"
                error: false
                warnings: []
                status: 200   
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                  
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
  /services{/id}/data{/data_view_id}: #{/field}
    get:
      tags:
        - SERVICES (DATA SOURCES)
      summary: Data for a service
      description: This returns the data for a specific service. This API call should utilize as many query parameters as needed to obtain the specific data available for a certain data view.
      
      
        Please refer to the <a href="#tag/EXAMPLES">Examples</a> section for more specific use cases. 
      
        
        **Note&#58;** the fields listed in the response example may differ depending on the service (data-source) the user is trying to pull the data from.   
      parameters:
        - in: path
          name: /id
          schema:
            type: integer
          required: true
          description: Id of the service to get
        - in: path
          name: /data_view_id
          schema:
            type: string
          required: true
          description: Data view id that the column belongs to
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/services/34/data/cgn?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/services/34/data/cgn?timegrouping=weekly&fields=log_date,ClickCount,ImpressionCount&page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/services/34/data/cgn?timegrouping=weekly&fields=ClickCount,ImpressionCount
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by Customer name.
          example: https://api.tapclicks.com/v2/services/34/data/cgn?groupby=cust_id&fields=ClickCount,ImpressionCount&sort=cust_name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: https://api.tapclicks.com/v2/services/34/data/cgn?groupby=cust_id&fields=ClickCount,ImpressionCount&sort=cust_name&count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
            
            
            Example&#58; `"http://api.tapclicks.com/v2/services/34/data/cgn?fields=client_name,ClickCount,ImpressionCount&&customer_id=!921"`<br>
            This will return the selected fields from all Customers, except for the customer id = 921
          example: http://api.tapclicks.com/v2/services/34/data/cgn?fields=client_name,ClickCount,ImpressionCount&&customer_id=12,13
        - in: query
          name: groupby
          required: false
          schema:
            type: string
          description: The results will be grouped based on the provided field
          example: http://api.tapclicks.com/v2/services/34/data/cgn?groupby=customer_id&fields=client_name,ClickCount,ImpressionCount
        - in: query
          name: timegrouping
          required: false
          schema:
            type: string
          description: The results will be grouped and narrowed within the specified timegroup
          example: https://api.tapclicks.com/v2/services/34/data/cgn?groupby=log_date&timegrouping=weekly&fields=log_date,ClickCount,Impression
        - in: query
          name: aggregate
          required: false
          schema:
            type: boolean
          description: The results will be the aggregated value of each field
          example: https://api.tapclicks.com/v2/services/34/data/cgn?timegrouping=weekly&fields=log_date,ClickCount,Impressions&aggregate=true
        - in: query
          name: row_grouping_count
          required: false
          schema:
            type: string
          description: Passing **row_grouping_count** along with the list of **fields** will provide grouped result and row count on each group (**groupby**)
          example: https://services/34/data/cgn?groupby=customer_id&fields=ClickCount,ImpressionCount,row_grouping_count
        - in: query
          name: nested
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: Fetch grouped data that nested based on the groupby expression
          example: https://api.tapclicks.com/v2/services/34/data/cgn?groupby=customer_id&fields=ClickCount,ImpressionCount,Client_costCount&sort=-log_date&nested=1
        - in: query
          name: daterange
          required: false
          schema:
            type: string
          description: The example will return clicks and impressions with a timestamp for the month of December.
            
            
            This filters the result between the given date range (YYYY-MM-DD).
          example: https://api.tapclicks.com/v2/services/34/data/cgn?groupby=customer_id&fields=ClickCount,ImpressionCount&daterange=2018-12-01|2018-12-31
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/response_200_servicesdataview'
              example:
                data:
                  - customer_id: "234"
                    campaign_id: "1"
                    campaign_name: "Intro to Email Tool"
                    subtype: null
                    subject: "Read My Blog"
                    type: "BATCH_EMAIL"
                    ViewEvents: "<span class='button-group'><a href='#/service/details/172/event/1' clasS='button-second'>View Event</a></span>"
                    client_name: "HubS Email Campaign - September 30 2017"
                    _client_city: ""
                    _client_state: ""
                    _client_zip_code: ""
                    client_reporting_status: "active"
                    client_billing_id: ""
                    client_additional_details_1: ""
                    client_additional_details_2: ""
                    client_additional_details_3: ""
                    client_crm_id: ""
                    _client_cluster_name: null
                    _client_account_manager: null
                    _client_category: null
                  - customer_id: "234"
                    campaign_id: "2"
                    campaign_name: "Test Notification"
                    subtype: null
                    subject: "It's ok to say I don't know"
                    type: "AUTOMATED_EMAIL"
                    ViewEvents: "<span class='button-group'><a href='#/service/details/173/event/7' clasS='button-second'>View Event</a></span>"
                    client_name: "HubS Email Campaign - August 15 2017"
                    _client_city: ""
                    _client_state: ""
                    _client_zip_code: ""
                    client_reporting_status: "active"
                    client_billing_id: ""
                    client_additional_details_1: ""
                    client_additional_details_2: ""
                    client_additional_details_3: ""
                    client_crm_id: ""
                    _client_cluster_name: null
                    _client_account_manager: null
                    _client_category: null
                error: false
                warnings: []
                status: 200
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'              
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
     
# --------------------- Users --------------------------  
  /users{/user_id}:
    get:
      tags:
        - USERS
      summary: Users
      description: This returns a specific User (*user_id*).
      
      
        **Note&#58;** if the path parameter *user_id* is omitted, this will return all the Users in the instance (in the response, the *data* field will be an array of user objects).
      parameters:
        - in: path
          name: /user_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the user to get. If omitted, it will return all Users
        - in: query
          name: metadata
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide more or all the info for the available fields.
          example: https://api.tapclicks.com/v2/users/1?metadata=1
        - in: query
          name: page
          required: false
          schema:
            type: string
          description: The example will return the first five records. Please refer to <a href="#tag/PAGINATION">Pagination</a> for more examples.
        
        
            This will limit the number of rows in the fetch result. 
          example: https://api.tapclicks.com/v2/users?page=0,5
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: This will filter the result data with the specific fields.
      
      
            **Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.
          example: https://api.tapclicks.com/v2/users?fields=id,user_type,last_name,email
        - in: query
          name: sort
          required: false
          schema:
            type: string
          description: Ascending by default; prefix **-** for descending.
      
      
            This will alphabetically sort the results by last name.
          example: https://api.tapclicks.com/v2/users?sort=last_name
        - in: query
          name: count
          required: false
          schema:
            type: integer
            enum: [0,1]
          description: The API will provide a total number of records in the result.
          example: http://api.tapclicks.com/v2/users?count=1
        - in: query
          name: field_data_filter
          required: false
          schema:
            type: string
          description: |
            This will filter the data that contains only specific values.
      
      
            To remove items use **!** before the value.
          
            
            Example&#58; `"https://api.tapclicks.com/v2/users?id=!12"`<br>
            This will return all Users, except for the one with id = 12
          example: https://api.tapclicks.com/v2/users?id=1,2,3          

      responses:
        '200':
          description: Ok Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_users'
              example:
                data:
                  id: "1"
                  client_id: null
                  user_type: "superadmin"
                  company_name: null
                  first_name: "Jack"
                  last_name: "Smith"
                  address_1: ""
                  address_2: ""
                  city: ""
                  state: ""
                  zip: ""
                  phone: ""
                  email: "jsmith@jpmarketing.com"
                  cluster_id: null
                  external_user_id: ""
                  additional_details_1: ""
                  additional_details_2: ""
                  additional_details_3: ""
                  enable_io_tool_module: true
                  enable_lead_management_module: false
                  has_light_logo: false
                  has_dark_logo: false
                  override_dashboard_pages_from_reporting_profile: false
                  default_home_page: null
                  io_tool_notification_frequency: null
                  country: ""
                  timezone: "default"
                  status: "active"
                  hipaa_acknowledgement_timestamp: null
                  creation_time: 1540403488
                  show_services_overview: "default"
                  show_categories_overview: "default"
                  role_id: null
                  io_tool_role_id: "6"
                  client_group_id: null
                  reporting_profile_id: "8"
                  user_type_display: "Super Admin"
                  country_display: ""
                  timezone_display: "default"
                  status_display: "active"
                  formatted_creation_time: "Sept 24, 2018 2:14 PM"
                error: false
                warnings: []
                status: 200 
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'

    post:
      tags:
        - USERS
      summary: Edit an existing user
      description: This modifies the information of an existing User.
      
      
        Note that the payload of this POST is the same as <a href="#tag/USERS/paths/~1users/post">Create a new user</a>.
      parameters:
        - in: path
          name: /user_id
          schema:
            type: integer
          required: true
          description: Numeric Id of the user that needs to be edited
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/editUser"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"

                  {
                  "user_type": "agent",
                  "email": "user@email.com",
                  "password": "user1234",
                  "first_name": "John",
                  "last_name": "Doe",
                  "reporting_profile_id": "1",
                  "client_group_id": "1",
                  "role_id": "1",
                  "status": "active"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'  
              example:
                error: true
                data: 
                  - User type missing
                warnings: []
                status: 400
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'                 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
              
  /users:
    post:
      tags:
        - USERS
      summary: Create a new user
      description: This creates a new User.
      
      
        Note that the payload of this POST is the same as <a href="#tag/USERS/paths/~1users{~1user_id}/post">Edit an existing user</a>.
      requestBody:
        content:
          'multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu':
            schema:
              $ref: "#/components/schemas/createUser"
            examples:
              '0':
                value: |-
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu
                  Content-Disposition: form-data; name="model"

                  {
                  "user_type": "agent",
                  "email": "user@email.com",
                  "password": "user1234",
                  "first_name": "John",
                  "last_name": "Doe",
                  "reporting_profile_id": "1",
                  "client_group_id": "1",
                  "role_id": "1",
                  "status": "active"
                  }
                  ------WebKitFormBoundarySMGbXJtM7VSNs0Nu--
      responses:
        '200':
          description: Ok - Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200_successful_post_delete'
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400' 
              example:
                error: true
                data: 
                  - That email is already in use
                warnings: []
                status: 400                
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401' 
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
                
  /users/values/set:
    get:
      tags: 
        - USERS
      summary: User Types / User Timezones
      description: |
        **Note&#58;** This endpoint must be used with the query parameter "fields".<br>
        
        
        This will return all available user types <br>
        *fields*=**user_type -**  `(https://api.tapclicks.com/v2/users/values/set?fields=user_type)`
        
        
        This will return all available user timezones <br>
        *fields*=**timezone -**  `(https://api.tapclicks.com/v2/users/values/set?fields=timezone)`
        
      parameters:
        - in: path
          name: fields
          required: true
          schema:
            type: string
            enum: [timezone,user_type]
          description: This is required for the endpoint to return valid data  
      responses:
        '200':
          description: Ok Successful Operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/userTypes'  
                  - $ref: '#/components/schemas/timezones' 
        '400':
          description: Error on client's side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'                
        '401':
          description: Invalid access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        '404':
          description: API Route not found 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'

# ---------------- QUERY PARAMETERS ------------------------
components:


  schemas:
# --------------- Business Unit Model -----------------     
    cluster:
      type: object
      properties:
        id:
          type: string
          description: Business Unit Id
        name:
          type: string
          description: Business Unit Name
        has_light_logo:
          type: boolean
          description: Has light logo
        has_dark_logo:
          type: boolean
          description: Has dark logo
        external_cluster_id:
          type: string
          description: External Business Unit Id
        enable_inventory_calendar:
          type: boolean
          description: Enable inventory calendar 
          
          
            **Note&#58;** This field is returned only if the TapOrders module is active
        is_cluster_group:
          type: boolean
          description: Is it a Business Unit Group
        status:
          type: string
          enum: [active,inactive]
          description: Status
        type:
          type: string
          description: Type
          enum: [single,group]
        member_cluster_ids:
          type: string
          description: Member Business Unit Ids - Please refer to <a href="#tag/BUSINESS-UNITS">Business Units</a> to obtain all existing Business Unit Ids
          
          
            **Note&#58;** This field is returned only if *type* = `group`
        status_display:
          type: string
          enum: [Active,Inactive]
          description: Status display
          
# --------------- Create Business Unit Model -----------------  
    createCluster:
      type: object
      required: 
        - name
      properties:
        name:
          type: string
          description: Business Unit Name
          
          
            **Note&#58;** The Business Unit's name must be a unique entry
        type:
          type: string
          description: Type - When this is `group` please refer to the field *member_cluster_ids*.
            
            
            **Note&#58;** Once this field is set, it cannot be edited to a different type.
          enum: [single,group]
        external_cluster_id:
          type: string
          description: External Business Unit Id
        member_cluster_ids:
          type: array
          description: Member Business Unit Ids
          
          
            **Note&#58;** This field is ONLY to be entered (and <font color="red">**required**</font>) when *type* = `group`
          items:
            type: integer
        enable_inventory_calendar:
          type: integer
          description: Enable inventory calendar 
          
          
            **Note&#58;** This field is enabled only if the TapOrders module is active
          enum: [0,1]
        enable_in_out_status_board:
          type: integer
          description: Enable In/Out status board
          enum: [0,1]
        status:
          type: string
          enum: [active,inactive]
          description: Status
            
# --------------- Channel Model ----------------- 
    category:
      type: object
      properties:
        id:
          type: string
          description: Channel Id
        name:
          type: string
[...]
